<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>header}}
</head>
<body>
    {{>navbar}}
    <p>this is a contact page. it's helps who want to talk about web development. 
        you have choosen this institute we will do hard work for grow your career.
    </p>
</body>
</html>