<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
   {{>navbar}}
    <div class="secontointwo">
        <div class="frist">
            <img src="imgage/1.jpg" alt="loding">
            <img src="imgage/2.jpg" alt="loding">
        </div>
        <div class="second">
            <img src="imgage/3.jpg" alt="loding">
            <img src="imgage/4.jpg" alt="loding">
        </div>
    </div>
    <h1 class="heading">Product Review</h1>
    <div class="sectionthird">
        <div class="simpletext">
            <h1>heading First</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rem fugit et deserunt hic dolore quo
                aliquam quibusdam pariatur ut est perferendis eligendi dicta repellendus quos consectetur quae
                temporibus fuga, nisi nulla assumenda voluptatibus. Corrupti illo quas quia ducimus minus at facilis sed
                ullam, neque rerum deserunt similique fugit esse a quam
            </p>
        </div>
        <div class="simpletext">
            <h1>heading Second</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rem fugit et deserunt hic dolore quo
                aliquam quibusdam pariatur ut est perferendis eligendi dicta repellendus quos consectetur quae
                temporibus fuga, nisi nulla assumenda voluptatibus. Corrupti illo quas quia ducimus minus at facilis sed
                ullam, neque rerum deserunt similique fugit esse a quam
            </p>
        </div>
        <div class="simpletext">
            <h1>heading Third</h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia rem fugit et deserunt hic dolore quo
                aliquam quibusdam pariatur ut est perferendis eligendi dicta repellendus quos consectetur quae
                temporibus fuga, nisi nulla assumenda voluptatibus. Corrupti illo quas quia ducimus minus at facilis sed
                ullam, neque rerum deserunt similique fugit esse a quam
            </p>
        </div>
    </div>
    <div class="sectionforth">
        <img src="imgage/5.jpg" alt="loading">
    </div>
    {{>footer}}
</body>

</html>