<div class="footer">
        <div class="socialicon">
            <a href="https://www.facebook.com/khetsing.yogi" target="_blank"><img src="imgage/facebook.svg"></a>
            <a href="https://www.instagram.com/i_ketsing/" target="_blank"><img src="imgage/instagram (1).svg"></a>
            <a href="https://www.linkedin.com/feed/" target="_blank"><img src="imgage/linkedin.svg"></a>
            <a href="https://www.youtube.com/channel/UCnh0Yr3UUfWr7OXNu_sGAjQ/videos" target="_blank"><img
                    src="imgage/youtube.svg"></a>
        </div>

        <div class="para">
            <p>@copyright do not allows it's registered</p>
        </div>
    </div>