 <div class="header">
        <div class="logo">
            <h1 class="logoname">Akshay</h1>
        </div>
        <div class="navbar" id="navbarid">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="services">services</a></li>
                <li><a href="gallary">Gallary</a></li>
                <li><a href="signin">Sign In</a></li>
            </ul>
        </div>
        <img src="imgage/menu-24px.svg" alt="loding" class="manuicon" onclick="manu()" id="manu">
        <img src="imgage/cross-svgrepo-com.svg" alt="nothing" id="manucross" onclick="manuhidden()">
    </div>
