*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    /* font-family: 'Crete Round', serif; */
    font-family: 'Concert One', cursive;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 4rem;
    background-color: #f2f2f2;
    /* border-bottom: 3px solid rgba(0, 0, 0, 0.664); */
    position: sticky;
    top: 0px;
    box-shadow: 3px 5px 5px gray;
}
.logo{
    /* border: 1px solid green; */
    flex-basis: 10%;
    margin-left: 2rem;
}
.navbar{
    flex-basis: 40%;
    margin-right: 3rem;
}
.navbar ul{
    /* border: 2px solid yellow; */
    display: flex;
    list-style: none;
    justify-content: space-around;
}
ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #666666;
}

a:hover{
    color: #000000;
}
a.active{
    color: #000000;
}
.manuicon{
    position: absolute;
    top: 1rem;
    right: 20px;
    visibility: hidden;
    
}
#manucross{
    position: absolute;
    top: 1.3rem;
    right: 20px;
    visibility: hidden;
}
/* css for section two  */
.secontointwo{
   display: flex;
   width: 100%;
   /* height: 1400px; */
   /* border: 2px solid green; */
   /* flex-wrap: wrap; */
}
.frist{
 flex-basis: 50%;
     
}
.frist img{
    width: 100%;
    height: 700px;
}
.second{
    flex-basis: 50%;
}
.second img{
    width: 100%;
    height: 700px;
}
.heading{
    text-align: center;
    margin: 10px 0px;
    /* transform: translateY(50px);    */
}

.sectionthird{
    display: flex;
    justify-content: space-around;
     align-items: center;
    width: 100%;
    /* height: 700px; */
    background-color: #f1f1f1;
    /* border: 2px solid red; */
    /* flex-wrap: wrap; */
    
}
.simpletext{
    flex-basis: 20%;
    margin-top: 80px;
    /* height: 300px; */
    /* border: 2px solid orange; */
    background-color: #fff;
   padding: 20px;
   box-shadow: 5px 3px 5px #666666;
   transition: all 0.3s linear;
}
.simpletext:hover{
    transform: translateY(-10px);
    border-radius: 50px;
}
.sectionforth{
    /* width: 100vw; */
    /* height: 500px; */
    /* background-image: url(imgage/5.jpg);
    background-size: cover; */
    margin-top: 80px;
    /* border: 2px solid red; */

}
.sectionforth img{
    height: 700px;
    width: 100%;
}
.socialicon img{
    width: 25px;
    height: 25px;
    margin: 20px;
}
.socialicon img:hover{
    opacity: 0.6;
}
.socialicon{
    text-align: center;
    /* margin-top: 50px; */
    /* margin-bottom: 25px; */
}

.para{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(#5fa9bb91,#ffffff);
}

.about{
    width: 800px;
    text-align:left;
    margin: 0px auto;
    /* border: 2px solid red; */
    border-bottom: 2px solid darkgray;
    
}

/* now i am going to make responsive website */

@media only screen and (max-width: 1100px) {
    .navbar{
        flex-basis: 50%;
        
    }
    .secontointwo{
        flex-direction: column;
    }
   
  }
  @media only screen and (max-width: 900px){
      .navbar{
          flex-basis: 60%;
      }
     
  }
  @media only screen and (max-width: 800px){
    .navbar ul{
        flex-direction: column;
        position: absolute;
        top:4rem;
        height: 200px;
        left: 0px;
        width: 100vw;
        
    }
    .navbar ul li{
        border-bottom: 1px solid #000000;

    }
    .navbar ul li a{
        float: left;
        margin-left: 2rem;
        margin-bottom: 5px;
    }
    .navbar{
        visibility: hidden;
    }
    .manuicon{
        visibility: visible;
    }
    .frist img{
        width: 100%;
        height: 500px;
    }
    
    .second img{
        width: 100%;
        height: 500px;
    }
    .sectionthird{
        flex-direction: column;
    }
    
}
/* ------------------------------------page csss--------------------- */


